*
!*.yaml
!packages
!.gitignore
!gitupdate.sh
!README.md
!groups
!automations
!automations/**
!automations/**/*
!automations/**/*/*.yaml
packages/package_test.yaml
secrets.yaml
known_devices.yaml
entity_registry.yaml
automations/workshop
automations/workshop/**
automations/workshop/*.yaml
automations/workshop/*.test
packages/package_workshop.yaml
groups/workshop.yaml

